<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goktech.olala.server.dao.goods.IndexAdversMapper">
  <resultMap id="BaseResultMap" type="com.goktech.olala.server.pojo.goods.IndexAdvers">
    <result column="ADVER_ID" jdbcType="SMALLINT" property="adverId" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="ADVER_TYPE" jdbcType="VARCHAR" property="adverType" />
    <result column="ADVER_IMG" jdbcType="VARCHAR" property="adverImg" />
    <result column="ADVER_CONTENT" jdbcType="VARCHAR" property="adverContent" />
    <result column="LINK_URL" jdbcType="VARCHAR" property="linkUrl" />
    <result column="SORT_ORDER" jdbcType="TINYINT" property="sortOrder" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="LINK_MAN" jdbcType="VARCHAR" property="linkMan" />
    <result column="LINK_EMAIL" jdbcType="VARCHAR" property="linkEmail" />
    <result column="LINK_PHONE" jdbcType="VARCHAR" property="linkPhone" />
    <result column="CLICK_COUNT" jdbcType="INTEGER" property="clickCount" />
    <result column="IS_SHOW" jdbcType="BIT" property="isShow" />
    <result column="IS_ENABLED" jdbcType="BIT" property="isEnabled" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <insert id="insert" parameterType="com.goktech.olala.server.pojo.goods.IndexAdvers">
    INSERT INTO G_ADVERS (ADVER_ID, TITLE, ADVER_TYPE,
      ADVER_IMG, ADVER_CONTENT, LINK_URL, 
      SORT_ORDER, START_TIME, END_TIME, 
      LINK_MAN, LINK_EMAIL, LINK_PHONE, 
      CLICK_COUNT, IS_SHOW, IS_ENABLED, 
      CREATE_TIME, CREATE_BY, UPDATE_TIME, 
      UPDATE_BY)
    VALUES (#{adverId,jdbcType=SMALLINT}, #{title,jdbcType=VARCHAR}, #{adverType,jdbcType=VARCHAR},
      #{adverImg,jdbcType=VARCHAR}, #{adverContent,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, 
      #{sortOrder,jdbcType=TINYINT}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{linkMan,jdbcType=VARCHAR}, #{linkEmail,jdbcType=VARCHAR}, #{linkPhone,jdbcType=VARCHAR}, 
      #{clickCount,jdbcType=INTEGER}, #{isShow,jdbcType=BIT}, #{isEnabled,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT ADVER_ID, TITLE, ADVER_TYPE, ADVER_IMG, ADVER_CONTENT, LINK_URL, SORT_ORDER,
    START_TIME, END_TIME, LINK_MAN, LINK_EMAIL, LINK_PHONE, CLICK_COUNT, IS_SHOW, IS_ENABLED, 
    CREATE_TIME, CREATE_BY, UPDATE_TIME, UPDATE_BY
    FROM G_ADVERS
  </select>
</mapper>