<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.SysCityMapper">
  <resultMap id="BaseResultMap" type="com.pojo.SysCity">
    <id column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
    <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_city
    where CITY_ID = #{cityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.SysCity">
    insert into sys_city (CITY_ID, CITY_CODE, CITY_NAME
      )
    values (#{cityId,jdbcType=INTEGER}, #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pojo.SysCity">
    update sys_city
    set CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      CITY_NAME = #{cityName,jdbcType=VARCHAR}
    where CITY_ID = #{cityId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select CITY_ID, CITY_CODE, CITY_NAME
    from sys_city
    where CITY_ID = #{cityId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select CITY_ID, CITY_CODE, CITY_NAME
    from sys_city
  </select>
</mapper>